.header__lang-link {
    font-family: 'Inter', 'Arial', sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 117%;
    text-decoration: none;
    color: #fff;
    text-align: right;
}

.header__lang-link:hover {
    opacity: .8;
    transition: opacity .2s linear;
}

@media screen and (max-width: 320px) {
    .header__lang-link {
        font-size: 18px;
        line-height: 20px;
    }
}