.photo-grid {
    display: grid;
    grid-template-columns: repeat(4, minmax(284px, 1fr));
    justify-items: center;
    gap: 16px;
    max-width: 1184px;
    margin: 92px auto 0;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .photo-grid {
        grid-template-columns: repeat(3, minmax(300px, 1fr));
        margin-left: 48px;
        margin-right: 48px;
        gap: 16px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .photo-grid {
        grid-template-columns: repeat(2, minmax(352px, 1fr));
        margin-left: 24px;
        margin-right: 24px;
    }
}

@media screen and (max-width: 767px) {
    .photo-grid {
        grid-template-columns: repeat(1, minmax(288px, 1fr));
        margin-left: 16px;
        margin-right: 16px;
        gap: 12px;
    }
}