.place {
    display: grid;
    grid-template-columns: minmax(460px, 460px) 1fr;
    grid-template-rows: repeat(2, min-content);
    column-gap: 40px;
    row-gap: 48px;
    padding-bottom: 80px;
}

.place:last-child {
    padding-bottom: 0;
}

@media screen and (max-width: 1024px) {
    .place {
        grid-template-columns: minmax(440px, 440px) 1fr;
        column-gap: 32px;
    }
}

@media screen and (max-width: 768px) {
    .place {
        grid-template-columns: minmax(340px, 340px) 1fr;
        column-gap: 28px;
        padding-bottom: 73px;
    }
}

@media screen and (max-width: 650px) {
    .place {
        grid-template-columns: minmax(260px, 260px) 1fr;
        column-gap: 28px;
        padding-bottom: 73px;
    }
}

@media screen and (max-width: 550px) {
    .place {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        row-gap: 32px;
        padding-bottom: 50px;
    }
}