.place__title {
    align-self: flex-end;
    font-family: 'Inter';
    font-size: 72px;
    font-weight: 900;
    line-height: 106%;
    margin: 0;
}

@media screen and (max-width: 768px) {
    .place__title {
        font-size: 42px;
        line-height: 110%;
    }

    .place__title:first-child {
        font-size: 44px;
        line-height: 105%;
    }
}

@media screen and (min-width: 321px) and (max-width: 767px) {
    .place__title {
        font-size: 36px;
        line-height: 110%;
    }
}

@media screen and (max-width: 320px) {
    .place__title {
        font-size: 32px;
        line-height: 109%;
        padding-left: 16px;
        padding-right: 16px;
    }

    .place__title:first-child {
        font-size: 30px;
        line-height: 110%;
    }
}